{% extends 'base.html.twig' %}
{% block title %}Прогноз погоды{% endblock %}
{% block body %}
    <div  class="background"  style="background-image: url('{{ asset('images/sunny.jpg') }}'); height: 100%; width: 100%">
    <div class="form-container" >
    <h1>Погода</h1>
    <form method="post" action="{{ path('forecast') }}">
        <label for="city">Город:</label>
        <input type="text" id="city" name="city" required>
        <br>
        <br>
        <br>
        <label>Тип прогноза:</label>
        <br>
        <br>
        <input type="radio" id="hourly" name="forecast_type" value="hourly" required>
        <label for="hourly">Почасовой</label>
        <br>
        <input type="radio" id="daily" name="forecast_type" value="daily" required>
        <label for="daily">Дневной (от 2 до 7 дней):
            <input type="number" id="days" name="days" min="2" max="7">
        </label>
        <br>
        <button type="submit">Получить прогноз</button>
    </form>
    </div>
    </div>
{% endblock %}

